.map-plot {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    fill: none;
    cursor: move;
}

.map-title {
    fill: #333;
    font-weight: 400;
    font-size: 14px;
}

.state {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 0.8px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.site {
    stroke: #999;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
}

.site.active {
    stroke: red;
    stroke-width: 2px;
}

.site.mouseover {
    stroke: purple;
    stroke-width: 3px;
}

/*.q0-9 { fill: rgb(247,251,255); }
.q1-9 { fill: rgb(222,235,247); }
.q2-9 { fill: rgb(198,219,239); }
.q3-9 { fill: rgb(158,202,225); }
.q4-9 { fill: rgb(107,174,214); }
.q5-9 { fill: rgb(66,146,198); }
.q6-9 { fill: rgb(33,113,181); }
.q7-9 { fill: rgb(8,81,156); }
.q8-9 { fill: rgb(8,48,107); }*/

.legend {
    cursor: pointer;
}

.legend-symbol.mouseover {
    stroke: purple;
    stroke-width: 3px;
}

.legend-text {
    fill: #333;
}

.legend-text.mouseover {
    fill: purple;
    font-weight: 700;
}
